// @Author: KamiSama
// @Date:   2016-08-29T00:30:12+08:00
// @Email:  kamisama.lwh@qq.com
// @Last modified by:   KamiSama
// @Last modified time: 2016-08-29T18:08:18+08:00



.my_icon {
    font-size: 2rem;
}

.my_layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .my_header {
        height: 4rem;
        width: 100%;
        background: #424040;
        position: relative;

        .my_layout_back {
            width: 4rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            i {
                color: #fff;
                &:visited {
                    color: #fff;
                }
                &:active {
                    color: #828282;
                }
            }
        }

        .my_layout_title {
            line-height: 3;
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
        }
    }
    .my_content {
        flex: 1;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
